.contextmenu {
    width: fit-content;
    height: fit-content;
    position: absolute; /* 必要に応じて位置を調整 */
    z-index: 100000000000;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary-border);
    border-radius: 4px;
}

.menu {
    width: 100%;
    position: relative; /* 子要素の位置基準にする */
    overflow: visible; /* サブメニューが親の範囲外に表示されるようにする */
    padding: 2px;
}

.menu button {
    border-width: 0px;
    width: 100%;
}

.facemenu {
    white-space: nowrap; /* 長いテキストでもサブメニューの幅が変わらないようにする */
    z-index: 999; /* サブメニューが他の要素より前に表示されるようにする */
}

/* サブメニューのスタイル */
.submenu {
    display: none;
    position: absolute; /* 親から独立した位置に配置 */
    left: 100%; /* 親の右横に配置 */
    top: 0; /* 親の上端に揃える */
    white-space: nowrap; /* 長いテキストでもサブメニューの幅が変わらないようにする */
    z-index: 1000; /* サブメニューが他の要素より前に表示されるようにする */
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary-border);
    border-radius: 4px;
    border-top-left-radius: 0px;
}

.menu:hover > .submenu {
    display: block;
}

.menu:hover {
    background-color: var(--color-secondary-hover);
}
