
/* チェックボックスのカスタムデザイン */
.custom-checkbox {
    display: inline-block;
    width: 15px;  /* サイズ調整 */
    height: 20px;
    background-color: #545454; /* 背景色（黒に近いグレー） */
    border-radius: 2px;  /* 角丸 */
    border: 0.5px solid #464646; /* 枠線 */
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: rgb(71 114 179);
}
input[type="checkbox"]:checked + .custom-checkbox::after { /* チェックを表示 */
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 5px;
    left: 50%;
    top: 50%;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button-checkbox {
    display: inline-block;
    width: fit-content;
    height: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    border: solid 1px rgb(77, 77, 77);
    background-color: rgb(120, 120, 120);
    box-shadow: 0px 1px 0px rgb(28, 28, 28);
}
input[type="checkbox"]:checked + .button-checkbox {
    background-color: #5492ff;
}
.button-checkbox-text {
    margin: auto;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

/* チェックボックスのカスタムデザイン */
.hasKeyframeCheck {
    display: inline-block;
    width: 15px;  /* サイズ調整 */
    height: 20px;
    position: relative;
    cursor: pointer;
}
.hasKeyframeCheck::after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 50%;
    top: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%) rotate(-45deg);
}
input[type="checkbox"]:checked + .hasKeyframeCheck::after { /* あった場合表示 */
    border-radius: 0;  /* 角 */
}
input[type="checkbox"]:not(:checked) + .hasKeyframeCheck::after { /* なかった場合表示 */
    border-radius: 100%;  /* 角丸 */
}

/* チェックボックスのカスタムデザイン */
.customCheckbox {
    display: inline-flex;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}
.customCheckbox span {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; /* 中央に配置 */
}