.grid-resizer {
    width: 100%;
    height: 100%;
    background-color: var(--backColor);
}

/* グリッド分割 */
.grid {
    display: grid;
    width: 100%;
    height: 100%;
}

/* グリッドの子要素 */
.grid-child {
    height: 100%;
    overflow: hidden; /* 内容が高さに影響を与えないようにする */
}

#app {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    width: 100%;
    height: 100%;
}