.menubar {
    width: 100%;
    height: 30px;
    background-color: #3b3b3b;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px;
    border-radius: 0px;
}

.menubar > * {
    width: fit-content;
}

.menubar input[type="text"] {
    font-size: 100%;
}

.menubar #projectNameContainer {
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
}