.outliner {
    display: grid;
    width: 100%;
    height: 20px;
    grid-template-columns: auto 10px 1fr 50px auto;
    border-radius: 0px;
}

.outliner-checkBox {
    height: 100%;
    height: 100%;
    grid-column: 1 / 2;
}

.outliner-name {
    display: grid;
    grid-template-columns: 10px auto 20px 1fr;
    height: 100%;
    grid-column: 3 / 4;
}

.outliner-name button {
    grid-column: 1 / 2;
    width: fit-content;
}

.outliner-name img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
}

.outliner-name input {
    grid-column: 2 / 3;
}

.outliner-zIndex {
    height: 100%;
    grid-column: 4 / 5;
}

.outliner-hide {
    height: 100%;
    width: fit-content;
    grid-column: 5 / 6;
}

ul li ul.children {
    border-radius: 0px;
    border-left: 1px dashed rgba(255, 255, 255, 0.483);
    padding-left: 5px;
    margin-left: 5px; /* 点線を中央にずらす */
    display: flex;
    flex-flow: column;
}