.operatorButton {
    display: flex;
    /* width: fit-content; */
    width: 100%;
    height: 20px;
    border-radius: 4px;
    background-color: #626262;
    border: 1px solid var(--color-border);
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}
.operatorButton:active{
    background-color: #3381ae;
}
.operatorButton img {
    width: 15px;
    height: 15px;
}
.operatorButton p {
    width: fit-content;
}