.foldedBoxTag {
    background-color: var(--inputColor);
    border-radius: 4px;
    border: solid rgb(63, 63, 63) 1px;
    height: 15px;
    align-items: center;     /* 縦方向中央 */
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
.foldedBoxTag p {
    text-align: left;
}
.foldedBoxTag .downArrow {
    margin-left: 4px;
}

.folded-box-container {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.folded-box-container .boxContainer {
    pointer-events: all;
    position: absolute;
    display: grid;
    grid-template-rows: 5px auto;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
}

.boxContainer .speechBubbleTriangle {
    background:rgb(0, 0, 0);
    margin: 0 auto;
    height: calc(tan(60deg) * 60px / 2);
    width: 10px;
    height: 5px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.boxContainer .speechBubbleMain {
    background-color: rgb(0,0,0);
    border-radius: 4px;
    padding: 5px;
}
