.popupMenu {
    min-width: fit-content;
    min-height: fit-content;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.popupMenu-item {
    width: fit-content;
    position: relative; /* 子要素の位置基準にする */
    overflow: visible; /* サブメニューが親の範囲外に表示されるようにする */
    padding: 2px;
}
.popupMenu-itemContainer {
    background-color: #151515;
    display: flex;
    width: fit-content;
    min-width: 50px;
    height: 20px;
}
.popupMenu-itemContainer img {
    width: 15px;
    height: 20px;
}
.popupMenu-itemContainer div {
    width: fit-content;
}
/* サブメニューのスタイル */
.popupMenu-item-submenu {
    display: none;
    position: absolute; /* 親から独立した位置に配置 */
    left: 100%; /* 親の右横に配置 */
    top: 0; /* 親の上端に揃える */
    white-space: nowrap; /* 長いテキストでもサブメニューの幅が変わらないようにする */
    z-index: 1000; /* サブメニューが他の要素より前に表示されるようにする */
    background-color: #151515;
}

.popupMenu-item:hover > .popupMenu-item-submenu {
    display: block;
}

.popupMenu-itemContainer:hover {
    background-color: rgb(85, 85, 85);
}

.popupMenu-items {
    border-top-left-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: #151515;
    z-index: 1000;
    gap: 5px;
}


.popoverMenu {
    background-color: var(--inputColor);
    border-radius: 4px;
    border: solid rgb(63, 63, 63) 1px;
    height: fit-content;
    align-items: center;     /* 縦方向中央 */
    min-width: fit-content;
    min-height: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
.popoverMenu .title {
    display: flex;
    width: fit-content;
    height: fit-content;
}
.popoverMenu .title p {
    white-space: nowrap;
    text-align: left;
}
.popoverMenu .downArrow {
    margin-left: 4px;
}

.popoverMenusContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.popoverMenusContainer .mainContainer {
    pointer-events: all;
    position: absolute;
    display: grid;
    grid-template-rows: 5px auto;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
}

.popoverMenusContainer .mainContainer .speechBubbleTriangle {
    background:rgb(0, 0, 0);
    margin: 0 auto;
    height: calc(tan(60deg) * 60px / 2);
    width: 10px;
    height: 5px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.popoverMenusContainer .mainContainer .speechBubbleMain {
    width: fit-content;
    background-color: rgb(0,0,0);
    border-radius: 4px;
    padding: 5px;
}
