.radio {
    display: flex;
}

.radio :first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radio :not(:first-child):not(:last-child) {
    border-radius: 0px;
}
.radio :last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}