.custom-select {
    background-color: var(--color-input);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    height: 20px;
    align-items: center;     /* 縦方向中央 */
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
.custom-select p {
    /* text-align: right; */
    text-align: left;
}
.custom-select .downArrow {
    margin-left: 4px;
}

.custom-select-items {
    border-radius: 4px;
    border-top-left-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    max-height: 500px;
    overflow-y: auto;
    background-color: var(--color-input);
    z-index: 2000;
    border: 1px solid var(--color-border);
    /* gap: 5px; */
}

.custom-select-items > * {
    border-radius: 0px;
    /* width: fit-content; */
    width: 100%;
    height: 20px;
    align-items: center;     /* 縦方向中央 */
}

.custom-select-items > *:hover {
    background-color: rgb(85, 85, 85);
}
.custom-select-items > *.active {
    background-color: var(--color-active);
}

.custom-select-items > * > * {
    width: 100%;
}